* {
    box-sizing: border-box;
}

li {
    opacity: 1;
    list-style-type: none;
    color: black;
    text-decoration: none;
}

.parent {
    padding: 0 10px;
    cursor: pointer;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.active.parent {
    transform: translate(-40px, -25px);
}

.subnavigation {
    display: flex;
}

.invisible {
    opacity: 0 !important;
    transform: translate(50px, 0);
}

.buttonGabung {
    text-align: center;
    border-radius: 10px;
    padding: 14px;
    color: white;
    background: #fc6b56;
    display: block;
    width: 171px;
    height: 48px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 9px 18px #f3adae;
}

body {
    font-family: "Heebo", Sans-serif;
    margin: 0;
    display: grid;
    font-size: 14px;
    background-color: #F5F5F5;
}

/* content */
.big-wrapper {
    position: relative;
    padding: 5.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #FFF6E9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.showcase-area .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.big-title {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #000000;
    text-transform: capitalize;
    line-height: 1.4;
}

.text {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 140%;
}

.showcase-area .btn {
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
    width: 90%;
    transform: translate(10%, 1px);
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #fff !important;
    background-color: #FC6B56;
    border-radius: 8px;
    text-transform: capitalize;
    transition: 0.3s;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: #34778F;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
}

.wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
}

.wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #FFF6E980;
}

.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
    list-style: none;
}

.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #34778F;
    background-color: rgba(3, 127, 243, 0.5);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    background-color: #FFFFFF;
}

.wrapper .footer-widget .socials li a:hover {
    color: #FFFFFF;
    background-color: #34778F;
}

.wrapper .footer-widget h6 {
    color: #ffffff;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li {
    list-style: none;
}

.wrapper .footer-widget .links li a {
    color: #FFF6E980;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover {
    color: #FFFFFF;
}

.copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright-wrapper p {
    color: rgba(88, 89, 120, 0.6);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #FFF6E9;
}

.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover {
    color: #037ef3;
}

.footer-copyright {
  text-align: center;
  background-color: #2a5f72;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 39px;
}

/* Let's write the media query */
@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: 100%;
        margin: 0 10px 50px;
    }
}