* {
  margin: 0;
  padding: 0;
}

:root {
  --dark: #333;
  --orange: #FC6B56;
  --light: #fff;
  --silver: #f2f2f2;
  --container: 140px;
  --green: #34778f;
  --dark-green: #2a5f72;
}

body {
  margin: 0;
  padding: 0;
  background: var(--silver);
  font-family: "Montserrat", sans-serif;
  color: var(--dark);
}

a {
  text-decoration: none !important;
}

.icon-sosmed {
  padding: 6px;
  font-size: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-white {
  background: var(--light);
}

.bg-green {
  background: var(--green);
}

.bg-dark-green {
  background: var(--dark-green);
}

.bg-bubble {
  background: url("/img/Background.png");
  background-size: cover;
}

.mt-sm-4 {
  margin-top: 0;
}

.navbar {
  padding: 10px 0;
}

.text-white {
  color: var(--light);
}

.text-semi {
  color: #fff6e980;
}

.text-dark {
  color: var(--dark);
}

.text-orange {
  color: var(--orange);
}

.text-green {
  color: #34778F;
}

.text-center {
  text-align: center;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-16 {
  font-size: 16px;
}

.text-leading {
  letter-spacing: 2px;
}

.text-leading1 {
  letter-spacing: 1px;
  font-size: 26px;
}

.btn {
  background: var(--orange);
  padding: 13px 22px;
  color: var(--light);
  border-radius: 8px;
}

.shadow-sm {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2) !important;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between !important;
}

.fw-normal {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.align-items-center {
  align-items: center !important;
}

.container {
  padding: 0 var(--container);
}

.nav {
  list-style: none;
}

.nav .active {
  color: var(--orange) !important;
}

.nav .active:hover {
  color: var(--orange) !important;
}

.mt-1 {
  margin-top: 0.5em;
}

.mt-2 {
  margin-top: 1em;
}

.mt-3 {
  margin-top: 1.5em;
}

.mt-4 {
  margin-top: 2em;
}

.mt-5 {
  margin-top: 2.5em;
}

.mt-6 {
  margin-top: 3em;
}

.mt-7 {
  margin-top: 3.5em;
}

.mt-8 {
  margin-top: 4em;
}

.mt-9 {
  margin-top: 4.5em;
}

.mt-10 {
  margin-top: 5em;
}

.mt-11 {
  margin-top: 5.5em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.mb-2 {
  margin-bottom: 1em;
}

.mb-3 {
  margin-bottom: 1.5em;
}

.ms-1 {
  margin-left: 0.5em;
}

.ms-2 {
  margin-left: 1em;
}

.ms-3 {
  margin-left: 1.5em;
}

.ms-4 {
  margin-left: 2em;
}

.ms-5 {
  margin-left: 2.5em;
}

.py-1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.py-2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-3 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.py-4 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.py-5 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.py-6 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.py-7 {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.py-8 {
  padding-top: 4em;
  padding-bottom: 4em;
}

.py-9 {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

.py-10 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-26 {
  width: 26%;
}

.search .flex-search {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1 !important;
}

.w-25vw {
  width: 25vw;
}

.w-15vw {
  width: 19.4vw;
}

.nav .nav-item {
  float: left;
  margin: 0 15px;
}

.list-nostyle {
  list-style: none;
}

.list-nostyle li {
  margin: 8px 0;
}

.list-horizontal {
  list-style: none;
}

.list-horizontal li {
  float: left;
  margin-right: 10px;
}

.mentor-section h1 {
  font-size: 48px;
}

.mentor-section .container {
  padding: 200px 0px !important;
}

.search .box-search {
  border: 1px solid #bdbdbd;
  padding: 8px 20px;
  color: #828282;
  border-radius: 8px;
  width: 100%;
}

.search .box-search .form {
  border: none;
  background: transparent;
  outline: none;
  padding: 10px 0;
  width: 100% !important;
}

.search .search-mentor-width {
  width: 35vw;
}

.search .search-all-width {
  width: 15vw;
}

.filter .select-filter {
  width: 100%;
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
}

.filter .select-filter select {
  margin-right: 20px;
}

.mentor-list .grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.mentor-list .card {
  background: var(--light);
  border-radius: 20px;
}

.mentor-list .card .card-body {
  padding: 50px;
}

.credit {
  font-size: 13px;
}

/* e_form_review */

.header-title {
  font-family: "Montserrat", sans-serif;
  padding-top: 232px;
  padding-bottom: 91px;
  color: #fc6b56;
}

form {
  background-color: #fff;
  padding: 0 126px;
  padding-top: 70px;
  padding-bottom: 122px;
}

.form-input {
  width: 708px;
}

.container-form p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  width: 663px;
  padding-bottom: 34px;
  color: #333333;
}

.btn-submit {
  color: white;
  background: #f1753e;
  border-radius: 6px;
}

/* end e_form_review */

@media only screen and (min-width:980px) and (max-width:1371px) {
  .container {
    padding: 0 50px !important;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .w-15vw {
    width: 50vw
  }

  .search-all-width {
    width: 20vw !important;
  }

}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 50px !important;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .footer .flex {
    flex-direction: column;
  }
}

@media only screen and (max-width: 980px) {
  .container {
    padding: 0 10px !important;
  }

  .header .flex {
    flex-direction: column;
  }

  .mt-sm-2 {
    margin-top: 2em;
  }

  .pb-sm-2 {
    padding-bottom: 2em;
  }

  .header .w-sm-100 {
    display: block;
    width: 90%;
  }

  .search .flex-search {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }

  .header .justify-between {
    justify-content: center !important;
    align-items: center !important;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .footer .flex {
    flex-direction: column;
  }

  .search-mentor-width,
  .search-all-width {
    width: 80vw !important;
  }

  .ms-4,
  .ms-5 {
    margin-left: 0 !important;
    margin-bottom: 1em
  }
}

@media only screen and (max-width: 540px) {
  .container {
    padding: 0 10px !important;
  }

  .header .flex {
    flex-direction: column;
  }

  .mt-sm-2 {
    margin-top: 2em;
  }

  .pb-sm-2 {
    padding-bottom: 2em;
  }

  .header .w-sm-100 {
    display: block;
    width: 90%;
  }

  .search .flex-search {
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }

  .header .justify-between {
    justify-content: center !important;
    align-items: center !important;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .footer .flex {
    flex-direction: column;
  }

  .search-mentor-width,
  .search-all-width {
    width: 80vw !important;
  }

  .ms-4,
  .ms-5 {
    margin-left: 0 !important;
    margin-bottom: 1em
  }
}